.contact-form {
    width: 22rem;
    max-width: 90%;
    margin: auto;
}

.form-contact {
    margin: 1rem 0;
}
.form-contact label,
.form-contact input{
    display: block;
    width: 100%;
}
.form-contact input{
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    border: 1px solid #6200ff;
    color: #6200ff;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}
button:hover,
button:active{
    background-color: #6200ff;
    color: white;
}